<h1 class='brand'>Cart</h1>

<%= render current_order %>
<%= render "orders/form" %>

<table class='table'>
  <tbody>
  <tr>
    <td width="99%" colspan=2></td>
    <td class='brand'>Total:<%= current_order.total.format %></td>
  </tr>
</tbody>
</table>

<%= link_to "Checkout", "", class: "checkout btn btn-default btn-block" %>
